# This file is used in conjunction with sql_pacemaker_setup.sh
# the format is key=value

###################################################################################
##  SQL Server configuration values
###################################################################################
    # If the value of the sa password is set here this file should be sanitized after use.
    # If the value is not set then environment variable MSSQL_SA_PASSWORD must be set
    sa_password="Monkey@1234"

    # Sets the sql version
    # Product ID of the version of SQL server you're installing
    # Must be evaluation, developer, express, web, standard, enterprise, or your 25 digit product key
    # Defaults to developer
    sql_version=evaluation

    # Install SQL Server Agent (recommended)
    agent_install=y

    # Install SQL Server Full Text Search (optional)
    # fulltext_install=n

    # Create an additional user with sysadmin privileges (optional)
    user_install=y

    # Username
    install_username=chammer

    # User password 8-15 charactes and 3 of 4(1 Upper, 1 Lower, 1 Numreic, 1 Symbol)
    install_password=Tmax9899


###################################################################################
##  Pacemaker configuration values
###################################################################################

    # Cluster Name
    clu_name=pm-sql-linux

    # Node List
    node1=someserver-a
    node2=someserver-b
    node2=someserver-c

    # Pacemaker hacluster password
    hacluster_password="cde3CDE#"